<html>

<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.3/milligram.min.css">
    <link rel="stylesheet" href="javascripts/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="javascripts/jquery-1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>LINX</h2>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>主页</a></li>
                <li><a href="./self"><i class="fas fa-user"></i>个人</a></li>
                <li><a href="./obj"><i class="fas fa-address-card"></i>我的物品</a></li>
                <li><a href="./trade"><i class="fas fa-project-diagram"></i>创建/加入交易</a></li>
                <li><a href="./withdraw"><i class="fas fa-blog"></i>提现</a></li>
                <li><a href="./recharge"><i class="fas fa-address-book"></i>充值</a></li>
                <li><a href="./more"><i class="fas fa-map-pin"></i>更多</a></li>
            </ul>
        </div>
        <div class="main_content">
            <h2><a href="index.html">LINX</a></h2>
            <h4>最火热的拍卖</h4>
            <h5>拍卖HASH:0x1224644865446</h5>
            <hr />

            <div class="row">
                <div class="column">
                    <label>受益人</label>
                    <blockquote>
                        <p><em id="beneficiary">0x123456789..</em><br /></p>
                    </blockquote>
                </div>
                <div class="column">
                    <label>价格</label>
                    <blockquote>
                        <p><em><span id="raised">15600ETH</span><br /></em></p>
                    </blockquote>
                </div>
                <div class="column">
                    <label>剩余时间</label>
                    <blockquote>
                        <p><em id="timeleft">1500s</em><br /></p>
                    </blockquote>
                </div>
                <div class="column">
                    <label>出价最高者</label>
                    <blockquote>
                        <p><em><span id="highestBidder"></span>0x123456789...<br />
                                <span id="highestBid"></span></em></p>
                    </blockquote>
                </div>
                <div class="column">
                    <label>我的账户<label>
                            <blockquote>
                                <p><em id="accountAddress">0x123456789..</em><br /></p>
                            </blockquote>
                </div>
                <div class="column">
                    <label>我的余额</label>
                    <blockquote>
                        <p><em id="accountBalance"></em><br /></p>
                    </blockquote>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="column column-33">
                    <label>账户</label>
                    <select id="bidAccount">
                    </select>
                </div>
                <div class="column column-25">
                    <label>竞拍价格</label>
                    <input type="number" id="bidAmount" placeholder="28300 ether">
                </div>
                <div class="column column-25">
                    <label><br /></label>
                    <button id="makeBid">竞拍</button>
                </div>
            </div>

            <hr />

        </div>
        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <form action="./setOwner" method="post">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <input class="form-control" type="text" placeholder="用户名" name="name">

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    </div>
    <div id="alter"></div>
</body>
<script src="web3js/index.js"></script>
<script src="web3js/web3.min.js"></script>

</html>