<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="javascripts/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="javascripts/jquery-1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>LINX</h2>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>主页</a></li>
                <li><a href="./self"><i class="fas fa-user"></i>个人</a></li>
                <li><a href="./obj"><i class="fas fa-address-card"></i>我的物品</a></li>
                <li><a href="./trade"><i class="fas fa-project-diagram"></i>创建/加入交易</a></li>
                <li><a href="./withdraw"><i class="fas fa-blog"></i>提现</a></li>
                <li><a href="./recharge"><i class="fas fa-address-book"></i>充值</a></li>
                <li><a href="./more"><i class="fas fa-map-pin"></i>更多</a></li>
            </ul>
        </div>
        <input value="<%=identity%>" style="display:none;" id="value">
        <div class="main_content">
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            <div class="mainOBJ" style="width:45%;">
                <img
                    src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                <span>HASH:</span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
                    style="margin-left: 45%;background-color: black; color: aliceblue;" >估值</button>
            </div>
            <div class="mainOBJ" style="width:45%;">
                <img
                    src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                <span>HASH:</span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
                    style="margin-left: 45%;background-color: black; color: aliceblue;" >估值</button>
            </div>
            <div class="mainOBJ" style="width:45%;">
                <img
                    src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                <span>HASH:</span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
                    style="margin-left: 45%;background-color: black; color: aliceblue;" >估值</button>
            </div>
        </div>
    </div>
    </div>
    <!-- Button trigger modal -->


</body>

<script src="web3js/web3.min.js"></script>

<script>
    var identity = document.getElementById("value").value
    if (identity == "admin") {
        $('.main_content').append(`<div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" onclick="EndAuthion(this)">等待结束的拍卖</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default active" onclick="startAuthion(this)">等待开始的拍卖</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" onclick="setIdentity(this)">设置权限</button>
                </div>
            </div>
            <div class="contant" style="margin-left: 20%; width: 60%; margin-top: 10%;">
                <div class="mainOBJ" style="width:45%;">
                    <img
                        src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                    <span>HASH:</span>
                    <button type="button" class="btn btn-default" style="margin-left: 40%;background-color: black; color: aliceblue;">开始</button>
                    
                </div>
            </div>`)

    } else if (identity == "user") {
        $('.main_content').append(`<div class="jumbotron">
                <h1>还在筹备中...</h1>
                <p>请等待我们的更新</p>
                <p><a class="btn btn-primary btn-lg" href="/" role="button">返回</a></p>
              </div>`)
    } else {

    }
    function startAuthion(e) {
        // console.log(e)
        $('.active').removeClass("active")
        e.classList.add("active")
        $(".contant").html("")
        $(".contant").append(`<div class="mainOBJ" style="width:45%;">
                    <img
                        src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                    <span>HASH:</span>
                    <button type="button" class="btn btn-default" style="margin-left: 40%;background-color: black; color: aliceblue;">开始</button>
                    
                </div>`)
    }
    function EndAuthion(e) {
        console.log(2)
        $('.active').removeClass("active")
        e.classList.add("active")
        $(".contant").html("")
        $(".contant").append(`<div class="mainOBJ" style="width:45%;">
                    <img
                        src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                    <span>HASH:</span>
                    <button type="button" class="btn btn-default" style="margin-left: 40%;background-color: black; color: aliceblue;">结束</button>
                    
                </div>`)
    }
    function setIdentity(e) {
        console.log(3)
        $('.active').removeClass("active")
        e.classList.add("active")
        $(".contant").html("")
        $(".contant").append(`<form class="form-horizontal" action="http://localhost:3000/more/setIdentity" method="post">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">地址</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" name="Address"placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword3"name="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">身份</label>
                        <div class="col-sm-3">
                            <select class="form-control" name= "identity">
                                <option>user</option>
                                <option>admin</option>
                                <option>expert</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 8%;">
                            <div class="col-sm-offset-4 col-sm-20">
                                <button type="submit" class="btn btn-default">Sign in</button>
                            </div>
                        </div>
                </form>`)
    }
</script>

</html>