<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="javascripts/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>LINX</h2>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>主页</a></li>
                <li><a href="./self"><i class="fas fa-user"></i>个人</a></li>
                <li><a href="./obj"><i class="fas fa-address-card"></i>我的物品</a></li>
                <li><a href="./trade"><i class="fas fa-project-diagram"></i>创建/加入交易</a></li>
                <li><a href="./withdraw"><i class="fas fa-blog"></i>提现</a></li>
                <li><a href="./recharge"><i class="fas fa-address-book"></i>充值</a></li>
                <li><a href="./more"><i class="fas fa-map-pin"></i>更多</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div id="balance">
                您的余额:<span>0LINX</span>
            </div>
            <hr>
            <div class="obj">
                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/GEGQA7G5QRGX3KTLNN7WK3ICEQ.jpg">
                    <span>1YUAN</span>
            </div>
            <div class="obj">
            
                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/GEGQA7G5QRGX3KTLNN7WK3ICEQ.jpg">
                    <span>6YUAN</span>

            </div>
            <div class="obj">

                    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/GEGQA7G5QRGX3KTLNN7WK3ICEQ.jpg">
                    <span>18YUAN</span>

            </div>
            <div class="obj">

                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/GEGQA7G5QRGX3KTLNN7WK3ICEQ.jpg">
                <span>30YUAN</span>

        </div>
        <div class="obj">

            <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/GEGQA7G5QRGX3KTLNN7WK3ICEQ.jpg">
            <span>68YUAN</span>

    </div>
    <div class="obj">

        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/GEGQA7G5QRGX3KTLNN7WK3ICEQ.jpg">
        <span>128YUAN</span>

</div>
<div class="obj">

    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/GEGQA7G5QRGX3KTLNN7WK3ICEQ.jpg">
    <span>328YUAN</span>

</div>
<div class="obj">

    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/coindesk/GEGQA7G5QRGX3KTLNN7WK3ICEQ.jpg">
    <span>648YUAN</span>

</div>
        </div>
    </div>
    </div>

</body>

</html>