<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="javascripts/styles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Trade</title>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>LINX</h2>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i>主页</a></li>
                <li><a href="./self"><i class="fas fa-user"></i>个人</a></li>
                <li><a href="./obj"><i class="fas fa-address-card"></i>我的物品</a></li>
                <li><a href="./trade"><i class="fas fa-project-diagram"></i>创建/加入交易</a></li>
                <li><a href="./withdraw"><i class="fas fa-blog"></i>提现</a></li>
                <li><a href="./recharge"><i class="fas fa-address-book"></i>充值</a></li>
                <li><a href="./more"><i class="fas fa-map-pin"></i>更多</a></li>
            </ul>
        </div>
        <div class="main_content">
            <div id="obj_box">
                <div class="mainOBJ">
                    <img
                        src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                    <span>HASH:</span>
                </div>
                <div class="mainOBJ">
                    <img
                        src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                    <span>HASH:</span>
                </div>
                <div class="mainOBJ">
                    <img
                        src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                    <span>HASH:</span>
                </div>
                <div class="mainOBJ">
                    <img
                        src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                    <span>HASH:</span>
                </div>
                <div class="mainOBJ">
                    <img
                        src="https://rukminim1.flixcart.com/image/714/857/kb2jmvk0/necklace-chain/v/r/a/simple-chain-chain-vien-original-imafsg7w4a5a6hhm.jpeg?q=50">
                    <span>HASH:</span>
                </div>
            </div>
            <button class="btn btn-primary end" data-toggle="modal" data-target="#addcase">添加用例</button>
            
            <div id="addcase" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="http://localhost:3000/trade" role="form" method="post" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">添加用例</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="InputCode">商品名</label>
                                    <input type="text" class="form-control" name="name" placeholder="Model Code">
                                </div>
                                <div class="form-group">
                                    <label for="InputCode">商品价值</label>
                                    <input type="text" class="form-control" name="value" placeholder="Model Code">
                                </div>
                                <div class="form-group">
                                    <label for="InputCode">字段</label>
                                    <input type="file" name="photo" id="txt_file" multiple class="file-loading" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
                <!-- /.modal -->
            </div>
        </div>
    </div>
    </div>

</body>

</html>